@import "cssreset.css"

body
  background-color: #f1eff5
  font-family: Arial,"PingFang SC","Microsoft YaHei",SimSun,sans-serif
*
  box-sizing: border-box
.slide-tool-wrap
  width: 93%
  margin: 0 auto
  .show-data-container
    text-align: center
    margin-bottom: 5px
    .result
      font-size: 26px
      color: #ff7283
    .unit
      font-size: 14px
      color: #89898a
    
  .container
    position:  relative
    .wrap
      border: 1px solid #424242
      height: 95px
      overflow-y: hidden
      box-sizing: border-box
      border-radius: 4px
      .middle-line
        position: absolute
        left: 50%
        top: 0
        height: 50%
        width: 2px
        background-color: #ff7283
        z-index: 99
      .box
        position: relative
        width: 100%
        height: 110px
        box-sizing: border-box
        overflow-x: auto 
        background-color: #ffffff
        -webkit-overflow-scrolling: touch
        &.trans
          transition: all 0.3s
        .inside
          height: 100%
          white-space: nowrap
          display: inline-block
          padding-right: 180px
          .short-line
            display: inline-block
            vertical-align: top
            height: 10px
            width: 1px
            background-color: #424242
            margin-right: 10px
          .long-line
            display: inline-block
            vertical-align: top
            height: 30px
            width: 1px
            margin-right: 10px
            background-color: #424242
            position: relative
            p
              position: absolute
              top: 63px
              left: -5px
              font-size: 18px

      
    
    