doctype html
html(lang="zh-CN")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title PontyBridge University
  body
    .container
      .top_bar
        .uni_logo.headings_normal University of PontyBridge
        .menu.clearfix
          a(href="home.html").menu_item Home
          a(href="study.html").menu_item Study
          a(href="#").menu_item Research
      .split_line
      .study_title Study
      .study_content_box
        .study_item_container
          .study_item_content_title.right Course Name
          .img_left_hold
            img(src=require('../img/pic13.png'))
          .study_item_content.right Lorem ipsum dolor sit amet,consectetur adipiscing elit. Morbi dignissim sapien lorem, ac dignissim sapien lorem, ac sagittis mauris dignissim sed. dignissim sapien lorem, ac Duis hendrerit sapien est, eu lobortis odio aliquam in.
        .study_item_container
          .study_item_content_title.left Course Name
          .img_right_hold.clearfix
            img(src=require('../img/pic14.jpg'))
          .study_item_content.left Lorem ipsum dolor sit amet,consectetur adipiscing elit. Morbi dignissim sapien lorem, ac dignissim sapien lorem, ac sagittis mauris dignissim sed. dignissim sapien lorem, ac Duis hendrerit sapien est, eu lobortis odio aliquam in.
        .study_item_container
          .study_item_content_title.right Course Name
          .img_left_hold
            img(src=require('../img/pic13.png'))
          .study_item_content.right Lorem ipsum dolor sit amet,consectetur adipiscing elit. Morbi dignissim sapien lorem, ac dignissim sapien lorem, ac sagittis mauris dignissim sed. dignissim sapien lorem, ac Duis hendrerit sapien est, eu lobortis odio aliquam in.
    .footer
      .foot_menu
        a(href="home.html").foot_menu_item Home
        a(href="study.html").foot_menu_item Study
        a(href="#").foot_menu_item Research
      .foot_logo.headings_normal University of PontyBridge
        


