doctype html
html(lang="zh-CN")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title 糖化
    link(rel="stylesheet" href="./tanghua.css")
  body 
    script(type="text/javascript" src="./tanghua.js")
    .slide-tool-wrap
      .show-data-container
         .result#data --
         .unit %
      .container
        .wrap
          .middle-line
          .box#box
            .inside#drag-bar
    .test
      br
      #btn OK
          